h1 {

	text_align: center;
}

.entry {
	border: 1px solid black;
	border-radius: 5px;
	margin: 50px;
	padding: 30px;
	background-color: honeydew;
}

#content {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px;


}
